---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version-file: .nvmrc
      - name: pnpm install
        run: pnpm
      - name: Lint
        run: pnpm lint
      - name: Build
        run: pnpm build
